// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #1a8437;

// Primary/body text
$mainFont: 'Palatino Linotype', serif;
$mainFontSize: 36px;
$mainFontLetterSpacing: 0.02em;
$mainColor: #eee;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$headingColor: #eee;
$headingLineHeight: 0.9em;
$headingLetterSpacing: -0.02em;
$headingTextTransform: inherit;
$headingTextShadow: 0px 3px 3px rgba(0,0,0,0.2);
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #da0000;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #fff;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}